##################################################################
#
# seq_maps.rc
#
# This is a resource file which lists the names of mapping
# weight files to use in a sequential CCSM run (mapname).
# You can also set when data is rearranged in the mapping (maptype).
#
# This file is read during the map_model2model_init calls.
#
# For maptype:  X = Rearrange the input so that the output
#                   is on the correct processor.
#               Y = Rearrange the output and sum partial outputs
#                   if necessary
#
# NOTE:  For bfb on different processor counts, set all maptypes to "X".
################################################################## 

atm2ocnFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2ocnFmaptype: X

atm2ocnSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2ocnSmaptype: X

ocn2atmFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
ocn2atmFmaptype: Y

ocn2atmSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
ocn2atmSmaptype: Y

atm2iceFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2iceFmaptype: X

atm2iceSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2iceSmaptype: X

ice2atmFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
ice2atmFmaptype: Y

ice2atmSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
ice2atmSmaptype: Y

atm2lndFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2lndFmaptype: X

atm2lndSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
atm2lndSmaptype: X

lnd2atmFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
lnd2atmFmaptype: Y

lnd2atmSmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
lnd2atmSmaptype: Y

rof2ocnFmapname: /home/xyk/DownloadedCCSMData/ccsm_inputdata/cpl/cpl6/idmap
rof2ocnFmaptype: Y
